<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <main class="container" ng-app="myModule" ng-controller="commentController">
            <section>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>

            <section>
                <h2>Add a Comment</h2>
                <!--  
                put a form here for entering a new comment
                the user must select a rating, and enter a name, title, and comment body
                before the comment can be saved to the server
                for the rating selection, use the Angular Bootstrap Rating directive 
                http://angular-ui.github.io/bootstrap/#/rating
                their script file is included below
                -->
                <form id="comments" ng-submit="addComment(newName, new Title, newComment)">
                    <div ng-controller="RatingCtrl">
                        <label>Rating</label>
                        <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                        <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>
                    </div>
                    <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="your name (required)" ng-model="newName" autofocus>
                    <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="form-control" placeholder="title for the comment (required)" ng-model="newTitle" >
                    <label for="comment">Comment</label>
                        <input type="text" name="comment" id="comment" class="form-control" placeholder="comments (required)" ng-model="newComment">
                    <div class="form-group">
                        <button type="submit" ng-disabled="inserting">Submit</button>
                        <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="inserting">
                    </div>
                </form>
                
            </section>

            <section>
                <h2>Comments</h2>
                <!-- 
                display existing comments here
                each comment should also have UI allowing the user to vote up/down the comment
                as well as delete it
                 -->
            </section>

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
        <script></script>
    </body>
</html>